.get_involved-column-group {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.get_involved-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  flex-basis: 300px;
  max-width: 300px;
}

.get_involved-column-description {
  line-height: 25px;
  margin-bottom: 0;
  white-space: normal;
}

.get_involved-column-attribution {
  font-style: italic;
  height: 52px;
  line-height: 25px;
  margin: 0;
  white-space: normal;
  width: 100%;
}

.get_involved-column-attribution button {
  float: right;
}

@media screen and (max-width:1020px) {
  .get_involved-column-group {
    padding: 0 30px
  }
}

@media screen and (max-width:750px) {
  .get_involved-column-group {
    flex-direction: column;
    align-items: center
  }

  .get_involved-column {
    margin: 20px 0 0
  }
}

.get_involved-give-cta {
  text-align: center
}

.feature-photo_position-wrap__3tktD {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 70vw;
  overflow: hidden
}

.feature-photo_position-wrap__3tktD img {
  width: 100%
}

.feature-photo_sizer__39YVc {
  height: 66vw
}

.get_involved-preamble_title {
  margin-left: 40px;
  margin-right: 40px;
}

.get_involved-cta_title {
  text-align: center;
}

.get_involved-preamble_description {
  line-height: 150%;
}

.get_involved-preamble_title_span {
  font-weight: 900;
  font-size: 22px
}

.get_involved-cta_description {
  line-height: 150%;
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width:1020px) {
  .feature-photo_position-wrap__3tktD {
    height: auto;
    position: relative;
    min-width: 100%
  }

  .feature-photo_sizer__39YVc {
    display: none
  }

  .get_involved-preamble_title,
  .get_involved-cta_title {
    margin-left: 20px;
    margin-right: 20px;
  }
}
