.main_content {
  font-family: Roboto, sans-serif
}

@media screen and (min-width:1020px) {
  .main_content {
    min-width: 1020px;
    max-width: 1300px;
    width: calc(100% - 60px);
    margin: 0 auto
  }
}

@media screen and (max-width:1020px) {
  .main_content {
    width: 100%;
    min-width: 320px
  }
}

.alternating-photo-list_list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative
}

.alternating-photo-list_list-wrap-humb {
  width: 50%
}

.alternating-photo-list_list-wrap-humb img {
  max-width: 100%;
  vertical-align: top;
  width: 100%
}

.alternating-photo-list_list-wrap-content {
  width: 50%;
  padding: 56px
}

.alternating-photo-list_list-wrap-content p {
  font-size: 18px;
  line-height: 27px;
  color: #333;
  font-weight: 400
}

@media(min-width:991px) {
  .alternating-photo-list_list-wrap:nth-child(2n) .alternating-photo-list_list-wrap-humb {
    order: 2
  }
}

@media screen and (max-width:990px) {
  .alternating-photo-list_list-wrap {
    flex-wrap: wrap
  }

  .alternating-photo-list_list-wrap-humb,
  .alternating-photo-list_list-wrap-humb img {
    width: 100%
  }

  .alternating-photo-list_list-wrap-content {
    width: 100%;
    padding: 50px 25px
  }
}

.alternating-photo-list_list-header-name {
  margin-bottom: 30px
}

.alternating-photo-list_list-header-name h3 {
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  color: #000;
  margin: 0
}

.alternating-photo-list_list-header-name span {
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  line-height: 21px;
  color: #505067;
  font-family: Roboto Condensed, sans-serif
}

@media screen and (max-width:575px) {
  .alternating-photo-list_list-header-name {
    width: 100%;
    flex: 1 1;
    margin-bottom: 15px
  }

  .alternating-photo-list_list-header-name h3 {
    font-size: 24px;
    line-height: 28px
  }
}

.news-annual-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

.news-grid_full-row-img {
  text-align: center;
}
.news-grid_img,
.news-grid_full-row-img {
  max-height: 300px;
}
.news-grid_img img,
.news-grid_full-row-img img {
  height: 100%;
  width: auto;
}
.news-grid_full-row-img {
  grid-column: span 2;
}
.news-grid_img:nth-child(2n + 0) {
  grid-column: 2;
}
.news-grid_content:nth-child(2n + 1) {
  grid-column: 1;
}

@media screen and (max-width: 990px) {
  .news-grid_img:nth-child(2n + 0),
  .news-grid_content:nth-child(2n + 1),
  .news-grid_content,
  .news-grid_img {
    grid-column: span 2;
  }
  .news-grid_img {
    text-align: center;
  }
}
