.main_content {
  font-family: Roboto, sans-serif
}

@media screen and (min-width:1020px) {
  .main_content {
    min-width: 1020px;
    max-width: 1300px;
    width: calc(100% - 60px);
    margin: 0 auto
  }
}

@media screen and (max-width:1020px) {
  .main_content {
    width: 100%;
    min-width: 320px
  }
}
