.buttons_primary-on-dark-background__4SjoW,
.buttons_primary__2cXqV,
.buttons_small__zahf- {
  font-family: Roboto Condensed, sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem
}

.buttons_primary-on-dark-background__4SjoW,
.buttons_primary__2cXqV {
  background: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background: linear-gradient(45deg, #009edb, #991f68);
  border-radius: 10rem;
  padding: 13px 28px 14px;
  border: none;
  color: #fff;
  -webkit-transition: background-size .15s cubic-bezier(.46, -.01, .39, 1.03), background-color .15s ease;
  transition: background-size .15s cubic-bezier(.46, -.01, .39, 1.03), background-color .15s ease;
  background-size: 100%
}

.buttons_primary-on-dark-background__4SjoW:hover,
.buttons_primary__2cXqV:hover {
  background-size: 300%;
  -webkit-transition: background-size .3s cubic-bezier(.46, -.01, .39, 1.03), background-color .3s ease;
  transition: background-size .3s cubic-bezier(.46, -.01, .39, 1.03), background-color .3s ease
}

.buttons_primary-on-dark-background__4SjoW:disabled,
.buttons_primary__2cXqV:disabled {
  background: #fff;
  border: 1px solid #bbbfc4;
  color: #505067;
  cursor: not-allowed
}

.buttons_primary-on-dark-background__4SjoW a,
.buttons_primary__2cXqV a {
  color: #fff;
  text-decoration: none
}

.buttons_primary-on-dark-background__4SjoW {
  background: #fff;
  color: #000
}

.buttons_primary-on-dark-background__4SjoW:hover {
  background: #f5f5f5
}

.buttons_secondary-on-dark-background__3w9yW,
.buttons_secondary__3QfaE {
  background-image: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background-image: linear-gradient(45deg, #009edb, #991f68);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  position: relative;
  border: none;
  padding-left: 0;
  padding-right: 0
}

.buttons_secondary-on-dark-background__3w9yW:after,
.buttons_secondary__3QfaE:after {
  content: "";
  background: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background: linear-gradient(45deg, #009edb, #991f68);
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0
}

.buttons_secondary-on-dark-background__3w9yW:hover,
.buttons_secondary__3QfaE:hover {
  background: none;
  -webkit-background-clip: unset;
  -moz-background-clip: unset;
  -webkit-text-fill-color: unset;
  -moz-text-fill-color: unset;
  color: #009edb
}

.buttons_secondary-on-dark-background__3w9yW:hover:after,
.buttons_secondary__3QfaE:hover:after {
  background: #009edb
}

.buttons_secondary-on-dark-background__3w9yW:disabled,
.buttons_secondary__3QfaE:disabled {
  background: #fff;
  color: #505067
}

.buttons_secondary-on-dark-background__3w9yW {
  background: none;
  -webkit-background-clip: unset;
  -moz-background-clip: unset;
  -webkit-text-fill-color: unset;
  -moz-text-fill-color: unset;
  background: #fff;
  color: #000
}

.buttons_secondary-on-dark-background__3w9yW:after {
  background: #fff
}

.buttons_small__zahf- {
  background: #fff;
  border: 1px solid #bbbfc4;
  border-radius: 2em;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .1));
  font-size: 2.5vh;
  margin-right: 1em;
  padding: .5em 1em
}

.buttons_small__zahf-:hover {
  background: #009edb;
  color: #fff
}

@media screen and (max-width:830px) {
  .buttons_small__zahf- {
    margin-bottom: 1em
  }
}

.buttons_active__2iXzK {
  background: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background: linear-gradient(45deg, #009edb, #991f68);
  color: #fff
}

.header_wrapper__3LvaD {
  font-family: Roboto Condensed, sans-serif
}

@media screen and (min-width:1020px) {
  .header_wrapper__3LvaD {
    min-width: 1020px;
    max-width: 1300px;
    width: calc(100% - 60px);
    margin: 0 auto
  }
}

@media screen and (max-width:1020px) {
  .header_wrapper__3LvaD {
    width: 100%;
    min-width: 320px
  }
}

.header_wrapper__3LvaD {
  height: 88px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  z-index: 1;
  position: relative;
  background: #fff
}

@media screen and (min-width:1020px) {
  .header_wrapper__3LvaD {
    margin-top: clamp(-.01px, calc(100% - 1020px), 20px)
  }
}

.header_logo__1Uv9O {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 30px
}

.header_logo__1Uv9O img {
  min-width: 76px;
  width: 76px;
  height: 76px
}

.header_menu-list__1I-0W {
  justify-content: space-between;
  list-style: none;
  flex-grow: 1;
  margin: 0;
  position: relative;
  padding: 0 15px 0 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.header_activism-focus__1hIRV,
.header_menu-list__1I-0W,
.header_sport-focus__11sMJ {
  display: flex;
  flex-direction: row
}

.header_menu-list__1I-0W li {
  display: flex;
  line-height: 88px;
  text-transform: uppercase;
  position: relative;
  font-size: 1.2rem
}

.header_menu-list__1I-0W li a {
  text-align: center;
  display: block;
  cursor: pointer;
  color: #000;
  text-decoration: none
}

@media screen and (min-width:1021px) {
  .header_mobile-menu-toggle__3bkru {
    display: none
  }

  .header_sport-focus__11sMJ {
    justify-content: space-around;
    flex-basis: 190px
  }

  .header_menu-list__1I-0W li {
    height: 100%;
    margin-right: 5px
  }

  .header_menu-list__1I-0W li:not(.header_menu-list-item-current__33GaU) a:hover {
    color: #fff;
    background: -webkit-linear-gradient(45deg, #009edb, #991f68);
    background: linear-gradient(45deg, #009edb, #991f68)
  }

  .header_menu-list__1I-0W li a {
    padding: 0 10px;
    width: 100%;
    height: 100%
  }

  .header_menu-list-item-current__33GaU a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(45deg, #009edb, #991f68);
    background: linear-gradient(45deg, #009edb, #991f68);
    height: 8px;
    width: 100%
  }

  .header_menu-list-item-current__33GaU .header_menu-list__1I-0W li a:after {
    width: 100%
  }
}

@media screen and (max-width:1020px) {
  .header_wrapper__3LvaD {
    height: 73px;
    flex-wrap: wrap
  }

  .header_logo__1Uv9O img {
    min-width: 63px;
    width: 63px;
    height: 63px
  }

  .header_mobile-menu-active__syYNZ .header_mobile-menu-toggle__3bkru {
    background-image: url(/_next/static/media/close-x.4e066aa878407d5da6f28bcb0bc1cd53.svg)
  }

  .header_mobile-menu-active__syYNZ .header_menu-list__1I-0W {
    display: flex
  }

  .header_menu-list__1I-0W {
    display: none;
    flex-direction: column;
    flex-basis: 100%;
    order: 4;
    max-height: 80vh;
    background: #fff;
    z-index: 100;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    padding: 0 30px 15px
  }

  .header_activism-focus__1hIRV,
  .header_sport-focus__11sMJ {
    flex-direction: column
  }

  .header_menu-list__1I-0W li {
    line-height: 60px
  }

  .header_menu-list__1I-0W li a {
    text-align: left;
    position: relative
  }

  .header_menu-list__1I-0W li:not(.header_menu-list-item-current__33GaU) a:hover:after {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 100%;
    left: 0;
    background: #000;
    height: 4px
  }

  .header_menu-list-item-current__33GaU .header_menu-list__1I-0W li a:after {
    width: 100%;
    height: 4px;
    bottom: 8px
  }

  .header_mobile-menu-toggle__3bkru {
    width: 60px;
    height: 60px;
    background: url(../media/hamburger.2b8b07066362109b03b70592fcbfa943.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    order: 3;
    margin-right: 20px
  }
}

.main_content__LVWsg {
  font-family: Roboto, sans-serif
}

@media screen and (min-width:1020px) {
  .main_content__LVWsg {
    min-width: 1020px;
    max-width: 1300px;
    width: calc(100% - 60px);
    margin: 0 auto
  }
}

@media screen and (max-width:1020px) {
  .main_content__LVWsg {
    width: 100%;
    min-width: 320px
  }
}

.gallery-list_list-wrap__m5hgs {
  width: 49%;
  position: relative;
  margin: 50px 0
}

.gallery-list_list-wrap-thumb__1qpM4 {
  width: 100%
}

.gallery-list_list-wrap-thumb__1qpM4 img {
  max-width: 100%;
  vertical-align: top
}

.gallery-list_list-wrap-content__38ZVV {
  width: 100%
}

.gallery-list_list-wrap-content__38ZVV h3 {
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  color: #000;
  min-height: 66px;
  display: flex;
  align-items: center;
  margin-bottom: 15px
}

.gallery-list_list-wrap-content__38ZVV h3 a {
  color: #000;
  text-decoration: none
}

.gallery-list_view-all__1qYxi {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  padding-bottom: 7px;
  text-decoration: none;
  background-image: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background-image: linear-gradient(45deg, #009edb, #991f68);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent
}

.gallery-list_view-all__1qYxi:after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-linear-gradient(45deg, #009edb, #5e419a 49.48%, #991f68);
  background: linear-gradient(45deg, #009edb, #5e419a 49.48%, #991f68)
}

@media screen and (max-width:990px) {
  .gallery-list_list-wrap__m5hgs {
    flex-wrap: wrap;
    width: 100%
  }

  .gallery-list_list-wrap-content__38ZVV,
  .gallery-list_list-wrap-humb__3pZRQ,
  .gallery-list_list-wrap-humb__3pZRQ img {
    width: 100%
  }
}

@media screen and (max-width:575px) {
  .gallery-list_list-wrap__m5hgs {
    margin: 30px 0
  }

  .gallery-list_list-wrap-content__38ZVV h3 {
    min-height: auto;
    font-size: 24px;
    line-height: 28px
  }
}

.gallery_gallery-wrapper__29Zrw {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.gallery_gallery-wrapper-left__vo8w2 {
  width: 65%
}

.gallery_gallery-listing__782fx {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap
}

.gallery_gallery-archive__3uZmm {
  width: 26%
}

.gallery_gallery-archive__3uZmm h3 {
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  color: #000
}

.gallery_gallery-archive__3uZmm select {
  display: none
}

.gallery_gallery-archive__3uZmm ul {
  padding: 0
}

.gallery_gallery-archive__3uZmm ul li {
  list-style: none;
  padding: 12px 0
}

.gallery_gallery-archive__3uZmm ul li a {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  padding-bottom: 8px;
  text-decoration: none;
  background-image: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background-image: linear-gradient(45deg, #009edb, #991f68);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: Roboto Condensed, sans-serif
}

.gallery_gallery-archive__3uZmm ul li a:after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-linear-gradient(45deg, #009edb, #5e419a 49.48%, #991f68);
  background: linear-gradient(45deg, #009edb, #5e419a 49.48%, #991f68)
}

.gallery_buttonsprimary__3l0hG {
  font-size: 20px;
  background: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background: linear-gradient(45deg, #009edb, #991f68);
  background-size: auto;
  border-radius: 10rem;
  padding: 13px 28px 14px;
  border: none;
  color: #fff;
  -webkit-transition: background-size .15s cubic-bezier(.46, -.01, .39, 1.03), background-color .15s ease;
  transition: background-size .15s cubic-bezier(.46, -.01, .39, 1.03), background-color .15s ease;
  background-size: 100%;
  font-family: Roboto Condensed, sans-serif;
  text-transform: uppercase
}

.gallery_buttonsprimary__3l0hG:hover {
  background-size: 300%;
  -webkit-transition: background-size .3s cubic-bezier(.46, -.01, .39, 1.03), background-color .3s ease;
  transition: background-size .3s cubic-bezier(.46, -.01, .39, 1.03), background-color .3s ease
}

@media screen and (max-width:990px) {
  .gallery_gallery-wrapper__29Zrw {
    padding: 0 30px
  }

  .gallery_gallery-wrapper-left__vo8w2 {
    width: 60%
  }

  .gallery_gallery-archive__3uZmm {
    width: 30%
  }
}

@media screen and (max-width:575px) {
  .gallery_gallery-wrapper-left__vo8w2 {
    width: 100%;
    text-align: center
  }

  .gallery_gallery-archive__3uZmm {
    width: 100%;
    display: flex;
    margin: 50px 0
  }

  .gallery_gallery-archive__3uZmm h3 {
    margin: 0;
    font-size: 24px;
    line-height: 28px
  }

  .gallery_gallery-listing__782fx {
    text-align: left
  }

  .gallery_gallery-archive__3uZmm ul {
    display: none
  }

  .gallery_gallery-archive__3uZmm select {
    background: url(/img/select-arrow-gallery.svg) no-repeat 100%;
    border: none;
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #009edb, #991f68);
    width: 100%;
    margin-left: 25px;
    -webkit-appearance: none;
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #009edb;
    font-family: Roboto Condensed, sans-serif
  }
}

.gallery-photo_position-wrap__gAmdC {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vw;
  overflow: hidden
}

.gallery-photo_position-wrap__gAmdC img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover
}

.gallery-photo_tag-line__1Z8xD {
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .734375) 37.8%, #fff);
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .734375) 37.8%, #fff);
  min-height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%
}

.gallery-photo_sizer__1fZPO {
  height: 45vw
}

.gallery-photo_tag-line-content__3Qhpe {
  max-width: 1300px;
  margin: 0 auto;
  width: calc(100% - 60px)
}

.gallery-photo_tag-line-content-left__119C8 {
  width: 100%;
  max-width: 550px
}

.gallery-photo_tag-line-content-left__119C8 h3 {
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 33px;
  background-image: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background-image: linear-gradient(45deg, #009edb, #991f68);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent
}

.gallery-photo_tag-line-content-left__119C8 p {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #000
}

@media screen and (max-width:1100px) {
  .gallery-photo_tag-line-content__3Qhpe {
    width: calc(100% - 60px);
    min-width: 1020px
  }
}

@media screen and (max-width:990px) {
  .gallery-photo_position-wrap__gAmdC {
    height: auto;
    position: relative;
    min-width: 100%
  }

  .gallery-photo_tag-line-content__3Qhpe {
    min-width: 320px;
    width: calc(100% - 60px)
  }

  .gallery-photo_sizer__1fZPO {
    display: none
  }
}

@media screen and (max-width:767px) {
  .gallery-photo_tag-line__1Z8xD {
    position: static
  }

  .gallery-photo_tag-line-content__3Qhpe {
    position: relative
  }

  .gallery-photo_tag-line-content__3Qhpe:after {
    content: "";
    height: 51px;
    width: 100%;
    position: absolute;
    background: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .734375) 37.8%, #fff);
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .734375) 37.8%, #fff);
    top: -57px;
    left: 0
  }

  .gallery-photo_tag-line-content-left__119C8 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px
  }

  .gallery-photo_tag-line-content-left__119C8 h3 {
    margin-top: 0
  }
}
