.buttons_primary-on-dark-background__4SjoW,
.buttons_primary__2cXqV,
.buttons_small__zahf- {
  font-family: Roboto Condensed, sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem
}

.buttons_primary-on-dark-background__4SjoW,
.buttons_primary__2cXqV {
  background: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background: linear-gradient(45deg, #009edb, #991f68);
  border-radius: 10rem;
  padding: 13px 28px 14px;
  border: none;
  color: #fff;
  -webkit-transition: background-size .15s cubic-bezier(.46, -.01, .39, 1.03), background-color .15s ease;
  transition: background-size .15s cubic-bezier(.46, -.01, .39, 1.03), background-color .15s ease;
  background-size: 100%
}

.buttons_primary-on-dark-background__4SjoW:hover,
.buttons_primary__2cXqV:hover {
  background-size: 300%;
  -webkit-transition: background-size .3s cubic-bezier(.46, -.01, .39, 1.03), background-color .3s ease;
  transition: background-size .3s cubic-bezier(.46, -.01, .39, 1.03), background-color .3s ease
}

.buttons_primary-on-dark-background__4SjoW:disabled,
.buttons_primary__2cXqV:disabled {
  background: #fff;
  border: 1px solid #bbbfc4;
  color: #505067;
  cursor: not-allowed
}

.buttons_primary-on-dark-background__4SjoW a,
.buttons_primary__2cXqV a {
  color: #fff;
  text-decoration: none
}

.buttons_primary-on-dark-background__4SjoW {
  background: #fff;
  color: #000
}

.buttons_primary-on-dark-background__4SjoW:hover {
  background: #f5f5f5
}

.buttons_small__zahf- {
  background: #fff;
  border: 1px solid #bbbfc4;
  border-radius: 2em;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .1));
  font-size: 2.5vh;
  margin-right: 1em;
  padding: .5em 1em
}

.buttons_small__zahf-:hover {
  background: #009edb;
  color: #fff
}

@media screen and (max-width:830px) {
  .buttons_small__zahf- {
    margin-bottom: 1em
  }
}

.buttons_active__2iXzK {
  background: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background: linear-gradient(45deg, #009edb, #991f68);
  color: #fff
}

.header_wrapper__3LvaD {
  font-family: Roboto Condensed, sans-serif
}

@media screen and (min-width:1020px) {
  .header_wrapper__3LvaD {
    min-width: 1020px;
    max-width: 1300px;
    width: calc(100% - 60px);
    margin: 0 auto
  }
}

@media screen and (max-width:1020px) {
  .header_wrapper__3LvaD {
    width: 100%;
    min-width: 320px
  }
}

.header_wrapper__3LvaD {
  height: 88px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  z-index: 1;
  position: relative;
  background: #fff
}

@media screen and (min-width:1020px) {
  .header_wrapper__3LvaD {
    margin-top: clamp(-.01px, calc(100% - 1020px), 20px)
  }
}

.header_logo__1Uv9O {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 30px
}

.header_logo__1Uv9O img {
  min-width: 76px;
  width: 76px;
  height: 76px
}

.header_menu-list__1I-0W {
  justify-content: space-between;
  list-style: none;
  flex-grow: 1;
  margin: 0;
  position: relative;
  padding: 0 15px 0 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.header_activism-focus__1hIRV,
.header_menu-list__1I-0W,
.header_sport-focus__11sMJ {
  display: flex;
  flex-direction: row
}

.header_menu-list__1I-0W li {
  display: flex;
  line-height: 88px;
  text-transform: uppercase;
  position: relative;
  font-size: 1.2rem
}

.header_menu-list__1I-0W li a {
  text-align: center;
  display: block;
  cursor: pointer;
  color: #000;
  text-decoration: none
}

@media screen and (min-width:1021px) {
  .header_mobile-menu-toggle__3bkru {
    display: none
  }

  .header_sport-focus__11sMJ {
    justify-content: space-around;
    flex-basis: 190px
  }

  .header_menu-list__1I-0W li {
    height: 100%;
    margin-right: 5px
  }

  .header_menu-list__1I-0W li:not(.header_menu-list-item-current__33GaU) a:hover {
    color: #fff;
    background: -webkit-linear-gradient(45deg, #009edb, #991f68);
    background: linear-gradient(45deg, #009edb, #991f68)
  }

  .header_menu-list__1I-0W li a {
    padding: 0 10px;
    width: 100%;
    height: 100%
  }

  .header_menu-list-item-current__33GaU a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(45deg, #009edb, #991f68);
    background: linear-gradient(45deg, #009edb, #991f68);
    height: 8px;
    width: 100%
  }

  .header_menu-list-item-current__33GaU .header_menu-list__1I-0W li a:after {
    width: 100%
  }
}

@media screen and (max-width:1020px) {
  .header_wrapper__3LvaD {
    height: 73px;
    flex-wrap: wrap
  }

  .header_logo__1Uv9O img {
    min-width: 63px;
    width: 63px;
    height: 63px
  }

  .header_mobile-menu-active__syYNZ .header_mobile-menu-toggle__3bkru {
    background-image: url(/_next/static/media/close-x.4e066aa878407d5da6f28bcb0bc1cd53.svg)
  }

  .header_mobile-menu-active__syYNZ .header_menu-list__1I-0W {
    display: flex
  }

  .header_menu-list__1I-0W {
    display: none;
    flex-direction: column;
    flex-basis: 100%;
    order: 4;
    max-height: 80vh;
    background: #fff;
    z-index: 100;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    padding: 0 30px 15px
  }

  .header_activism-focus__1hIRV,
  .header_sport-focus__11sMJ {
    flex-direction: column
  }

  .header_menu-list__1I-0W li {
    line-height: 60px
  }

  .header_menu-list__1I-0W li a {
    text-align: left;
    position: relative
  }

  .header_menu-list__1I-0W li:not(.header_menu-list-item-current__33GaU) a:hover:after {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 100%;
    left: 0;
    background: #000;
    height: 4px
  }

  .header_menu-list-item-current__33GaU .header_menu-list__1I-0W li a:after {
    width: 100%;
    height: 4px;
    bottom: 8px
  }

  .header_mobile-menu-toggle__3bkru {
    width: 60px;
    height: 60px;
    background: url(../media/hamburger.2b8b07066362109b03b70592fcbfa943.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    order: 3;
    margin-right: 20px
  }
}

.news-photo_position-wrap__1-ctM {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 580px;
  overflow: hidden;
  background: -webkit-linear-gradient(45deg, #009edb, #5e419a 49.48%, #991f68);
  background: linear-gradient(45deg, #009edb, #5e419a 49.48%, #991f68)
}

.news-photo_position-wrap__1-ctM img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover
}

.news-photo_tag-line__3qz1Q {
  position: absolute;
  top: 150px;
  width: 100%
}

.news-photo_tag-line-content-inner__B20_z {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end
}

.news-photo_position-wrap__1-ctM {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 60vw;
  overflow: hidden
}

.news-photo_position-wrap__1-ctM img {
  width: 100%
}

.news-photo_sizer__xynXb {
  height: 56vw
}

.news-photo_tag-line-content__HDL2B {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%
}

.news-photo_tag-line-content-left__1VlWT {
  width: 48%;
  padding-left: 60px
}

.news-photo_tag-line-content-left__1VlWT h1 {
  font-weight: 900;
  font-size: 98px;
  line-height: 118px;
  color: #fff;
  margin: 0;
  font-family: Roboto Condensed, sans-serif
}

.news-photo_tag-line-content-left__1VlWT h3 {
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  color: #fff
}

.news-photo_tag-line-content-right__1qNI6 {
  width: 48%;
  padding-right: 25px
}

.news-photo_tag-line-content-right__1qNI6 input[type=email],
.news-photo_tag-line-content-right__1qNI6 input[type=text] {
  width: 100%;
  height: 67px;
  background: #fff;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 14px;
  font-size: 20px;
  line-height: 23px;
  color: #333;
  padding: 15px 35px;
  margin-bottom: 17px;
  font-family: Roboto Condensed, sans-serif
}

.news-photo_tag-line-content-right__1qNI6 input[type=submit] {
  float: right;
  background: #fff;
  border-radius: 42px;
  border: none;
  height: 51px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  padding: 0 25px;
  font-family: Roboto Condensed, sans-serif;
  cursor: pointer
}

@media screen and (max-width:1100px) {
  .news-photo_tag-line-content__HDL2B {
    padding-left: 25px;
    padding-right: 25px
  }

  .news-photo_sizer__xynXb {
    height: 488px
  }
}

@media screen and (max-width:990px) {
  .news-photo_position-wrap__1-ctM {
    height: auto;
    position: relative;
    min-width: 100%
  }

  .news-photo_sizer__xynXb {
    display: none
  }

  .news-photo_tag-line__3qz1Q {
    position: static
  }

  .news-photo_tag-line-content-inner__B20_z {
    padding: 50px 0;
    flex-wrap: wrap
  }

  .news-photo_tag-line-content-left__1VlWT h1 {
    font-size: 72px;
    line-height: 88px
  }

  .news-photo_tag-line-content-left__1VlWT {
    padding-left: 0
  }

  .news-photo_tag-line-content-right__1qNI6 {
    padding-right: 0
  }
}

@media screen and (max-width:767px) {
  .news-photo_tag-line__3qz1Q {
    position: static
  }

  .news-photo_tag-line-content-left__1VlWT {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px
  }

  .news-photo_tag-line-content-left__1VlWT h1 {
    font-size: 54px;
    line-height: 65px
  }

  .news-photo_tag-line-content-left__1VlWT h3 {
    font-size: 24px;
    line-height: 28px
  }

  .news-photo_tag-line-content-right__1qNI6 {
    width: 100%
  }
}
