.buttons_primary-on-dark-background__4SjoW,
.buttons_primary__2cXqV,
.buttons_small__zahf- {
  font-family: Roboto Condensed, sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem
}

.buttons_primary-on-dark-background__4SjoW,
.buttons_primary__2cXqV {
  background: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background: linear-gradient(45deg, #009edb, #991f68);
  border-radius: 10rem;
  padding: 13px 28px 14px;
  border: none;
  color: #fff;
  -webkit-transition: background-size .15s cubic-bezier(.46, -.01, .39, 1.03), background-color .15s ease;
  transition: background-size .15s cubic-bezier(.46, -.01, .39, 1.03), background-color .15s ease;
  background-size: 100%
}

.buttons_primary-on-dark-background__4SjoW:hover,
.buttons_primary__2cXqV:hover {
  background-size: 300%;
  -webkit-transition: background-size .3s cubic-bezier(.46, -.01, .39, 1.03), background-color .3s ease;
  transition: background-size .3s cubic-bezier(.46, -.01, .39, 1.03), background-color .3s ease
}

.buttons_primary-on-dark-background__4SjoW:disabled,
.buttons_primary__2cXqV:disabled {
  background: #fff;
  border: 1px solid #bbbfc4;
  color: #505067;
  cursor: not-allowed
}

.buttons_primary-on-dark-background__4SjoW a,
.buttons_primary__2cXqV a {
  color: #fff;
  text-decoration: none
}

.buttons_primary-on-dark-background__4SjoW {
  background: #fff;
  color: #000
}

.buttons_primary-on-dark-background__4SjoW:hover {
  background: #f5f5f5
}

.buttons_small__zahf- {
  background: #fff;
  border: 1px solid #bbbfc4;
  border-radius: 2em;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .1));
  font-size: 2.5vh;
  margin-right: 1em;
  padding: .5em 1em
}

.buttons_small__zahf-:hover {
  background: #009edb;
  color: #fff
}

@media screen and (max-width:830px) {
  .buttons_small__zahf- {
    margin-bottom: 1em
  }
}

.buttons_active__2iXzK {
  background: -webkit-linear-gradient(45deg, #009edb, #991f68);
  background: linear-gradient(45deg, #009edb, #991f68);
  color: #fff
}

.donate-form_content__3Hom4 {
  font-family: Roboto, sans-serif
}

.donate-form_iframe-container__ov4LF {
  width: 100%
}

.donate-form_iframe__2XtfR {
  border: none;
  height: 958px;
  width: 100%
}
